
<div class="container-fluid bg-1 text-center">
  <h1>Hi, I'm Barb!</h1>
  <!-- <img class="img-circle" height="100px" src="images/profile_image.jpg"> -->
  <p id="introP">
    After previously working as a process engineer in the semiconductor and hard drive industries,
    I decided to follow my passion into computer software development.  I will achieve my certificate in
    Full Stack Software Development from Prime Digital Academy in July 2017.
  </p>
</div>

<div class="container-fluid bg-2 text-center">
</div>

<div class="container-fluid bg-3 text-center">
  <a href="https://www.linkedin.com/in/barbara-king/">Connect with me on LinkedIn</a>
</div>

<!-- <div id="intro" > -->
    <!-- <h1>Hi, I'm Barb!</h1>
    <img src="images/profile_image.jpg">
    <p id="introP">
      After previously working as a process engineer in the semiconductor and hard drive industries,
      I decided to follow my passion into computer software development.  I will achieve my certificate in
      Full Stack Software Development from Prime Digital Academy in July 2017.  My top five Gallup strengths are:
      Learner, Individualization, Responsibility, Harmony and Input.  I love a challenge!
    </p>
</div> -->
