
<div id="githubRepos">
  <span><h1>GitHub Portfolio <a href="https://github.com/barbking" class="fa fa-github"></a></h1></span>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3> <a href="https://github.com/barbking/Seed_To_Market_App">My Group Project</a></h3>
      <img src="images/Login.png" alt="">
      <img src="images/Planner.png" alt="">
      <img src="images/Reports.png" alt="">
    </div>
    <div class="col-md-6">
      <h3><a href="https://github.com/barbking/Prime-Solo-Project-ChoreTracker-App">My Solo Project</a></h3>
      <img src="images/SoloLogin.png" alt="">
      <img src="images/AdminHomePage.png" alt="">
      <img src="images/UserHomePage.png" alt="">

  </div>
</div>
<!-- <div style="height: 400px">
  <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
    <div uib-slide ng-repeat="slide in grc.slides track by slide.id" index="slide.id">
      <img ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Slide {{slide.id}}</h4>
        <p>{{slide.text}}</p>
      </div>
    </div>
  </div>
</div> -->
